<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--定义数据源-->
    <bean id="dataSource"
          lazy-init="false"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>

        <property name="url">
            <value>jdbc:mysql://localhost:3306/bone?characterEncoding=utf8</value>
        </property>

        <property name="username">
            <value>binghai</value>
        </property>

        <property name="password">
            <value>1041414957</value>
        </property>

    </bean>

    <!--定义Hibernate的sessionFactory-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>Entity.SchoolConfigs</value>
                <value>Entity.Manager.OutPutOrders</value>
                <value>Entity.Manager.Conversation</value>
                <value>Entity.Manager.ChargingSystem</value>
                <value>Entity.Manager.Log</value>
                <value>Entity.Manager.PayLog</value>
                <value>Entity.Manager.SalaryConfig</value>
                <value>Entity.Manager.Reason</value>
                <value>Entity.Manager.Manager</value>
                <value>Entity.Manager.SchoolDist</value>
                <value>Entity.Manager.PrivilegeDist</value>
                <value>Entity.Manager.IndexItemEntity</value>
                <value>Entity.User.User</value>
                <value>Entity.ExpressOrder</value>
                <value>Entity.SendPart</value>
                <value>Entity.FeedBack</value>
                <value>Entity.Express</value>
                <value>Entity.SysConfigs</value>
                <value>Entity.SysMsg</value>
                <value>Entity.Gift</value>
                <value>Entity.GiftRecord</value>
                <value>Entity.School</value>
                <value>Entity.SendTime</value>
                <value>Entity.SendExpress</value>
                <value>Entity.SendExpressOrder</value>
                <value>Entity.UserIndexAd</value>
                <value>Entity.ChargeVip</value>
                <value>Entity.ChargeVipOrder</value>
                <value>Entity.SchoolMoveOrder</value>
            </list>
        </property>
    </bean>
    <!-- 配置一个事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- 注解实现事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

</beans>